.action {
  visibility: hidden;
}

.cell:hover .action {
  visibility: visible !important;
  display: flex !important;
  justify-content: space-around
}

.title-table {
  font-size: 1.2em !important;
  font-weight: bold !important
}